<h1>A list of all the wonderful places you're going..</h1>
<h2>Your future journeys: </h2>

<% @journeys.each do |journey|  %>
 <p><b>City:</b> <%= journey.city_name  %>
    <b>Country:</b> <%= journey.country_name  %>
    <b>Leaving Date:</b> <%= journey.going_date  %>
    <b>Return Date:</b> <%= journey.return_date  %>
    <b>Things To Do:</b> <%= journey.review  %></p>
 <hr/>
  <% end %>
