<h1>A list of all the wonderful places you're going..</h1>
<h2>Your future travel plans: </h2>

<% @visits.each do |visit|  %>
  <div id="visit_list">
  City: <b><%= visit.city.name  %></b>
  Country: <b><%= visit.country.name %></b>
  Leaving Date: <b><%= visit.going_date  %></b>
  Return Date: <b><%= visit.return_date  %></b>
  Things To Do: <b><%= visit.review  %></b>
</div>

  <form method="post" class="inline" action="/visit/ <%=visit.id%>/delete">
    <input type="submit" value="Delete Travel Plans">
  </form>

  <form method="get" class="inline" action="/visit/<%=visit.id%>/edit">
    <input type="submit" value="Edit Travel Plans">
  </form>


  <hr/>






  <% end %>
